@(searchResults: List[SearchResult])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @*        <title>@title</title>*@
        <link rel="stylesheet" href='@routes.Assets.versioned("css/styles.css")' />
    </head>
    <body>

        <p id="status"></p>

        <h1>Welcome to YT Lytics</h1>

        <form id="search-form">
            <input type="text" name="query" id="search-input" placeholder="Enter search terms" required />
            <button type="submit">Go!</button>
        </form>

        <div id="searchResults" class="results">
        </div>

        <script src='@routes.Assets.versioned("javascripts/main.js")'></script>

    </body>
</html>
