@(searchResults: List[SearchResult], message: String)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT Lytics</title>
    <link rel="stylesheet" href='@routes.Assets.versioned("css/styles.css")' />
</head>

<body>

<h1>Welcome to YT Lytics</h1>

<!-- Search form -->
<form id="search-form" action="@routes.HomeController.index()" method="GET" class="search-bar">
    <input type="text" name="query" id="search-input" placeholder="Enter search terms" required />
    <button type="submit">Go!</button>
</form>

<!-- Results Section -->
<div class="results" id="results">
    @for(searchResult <- searchResults) {
    @if(searchResult.getVideos().nonEmpty) {
    <!-- Display search term and stats -->
    <div class="search-stats">
        <p>Search term:
            <strong>
                <a href="@routes.HomeController.wordStats(searchResult.getQuery())" target="_blank">@searchResult.getQuery()</a>
            </strong>
        </p>
        <p>Search terms: <strong>@searchResult.getQuery() @searchResult.getOverallSentiment()</strong> (Flesch-Kincaid Grade Level Avg.= @searchResult.getAverageFleschKincaidGradeLevel(), Flesch Reading Ease Score Avg.= @searchResult.getAverageFleschReadingEaseScore())</p>
        <a href="#" class="more-stats-link">More stats</a>
    </div>

    <!-- List of videos -->
    <ul>
        @for((video, index) <- searchResult.getVideos().zipWithIndex) {
        <li class="video-item">
            <div class="video-details">
                <p class="video-title">@{index + 1}. <strong>Title:</strong> <a href="https://www.youtube.com/watch?v=@video.getVideoId()" target="_blank">@video.getTitle()</a></p>
                <p class="channel-link"><strong>Channel:</strong> <a href="/channel/@video.getChannelId()" target="_blank">@video.getChannelTitle()</a></p>
                <p class="video-description"><strong>Description:</strong> @video.getDescription().take(150) + "..."</p>
                <p class="video-stats">Flesch-Kincaid Grade Level = @video.getFleschKincaidGradeLevel(), Flesch Reading Ease Score = @video.getFleschReadingEaseScore() .</p>

                <!-- لینک به تگ‌ها -->
                <p>
                    <strong>Tags:</strong>
                    <a href="@routes.HomeController.showTags(video.getVideoId())" target="_blank" class="tags-link">View Tags</a>
                </p>

                <!-- لینک به آمار کلمات -->
                <a href="@routes.HomeController.wordStats(searchResult.getQuery())" class="more-stats-link">More Word Stats</a>
            </div>
            <div class="video-thumbnail">
                <img src="@video.getThumbnailUrl()" alt="Thumbnail">
            </div>
        </li>
        }
    </ul>
    } else {
    <p>No results found. Please try searching for a video.</p>
    }
    }
</div>

<!-- script for WebSocket -->
<script>
    console.log('script is loading');
    document.addEventListener("DOMContentLoaded", function() {
        const ws = new WebSocket(`ws://localhost:9000/ws`);

        ws.onopen = function(event) {
            console.log("Connection success.");
        };

        ws.onmessage = function(event) {
            const videos = JSON.parse(event.data);
            displaySearchFunction(videos);
        };

        function displaySearchFunction(videos) {
            document.getElementById(`results`).innerHTML = ``;

            const searchTerm = `
                <div class="search-stats">
                    <p>Search term:
                        <strong>
                            <a href="/wordStats/${searchResult.query}" target="_blank">${searchResult.query}</a>
                        </strong>
                    </p>
                    <p>Search terms:
                        <strong>${searchResult.query} ${searchResult.overallSentiment}</strong>
                        (Flesch-Kincaid Grade Level Avg.= ${searchResult.averageFleschKincaidGradeLevel},
                        Flesch Reading Ease Score Avg.= ${searchResult.averageFleschReadingEaseScore})</p>
                    <a href="#" class="more-stats-link">More stats</a>
                </div>
            `;

            document.getElementById(`results`).innerHTML += searchTerm;

            const ul = document.createElement(`ul`);

            videos.forEach((video, index) => {
                const li = document.createElement(`li`);
                li.classList.add("video-item");

                const videoInfo =`
                    <div class="video-details">
                        <p class="video-title">${index + 1}. <strong>Title:</strong>
                            <a href="https://www.youtube.com/watch?v=${video.videoId}" target="_blank">${video.title}</a>
                        </p>
                        <p class="channel-link"><strong>Channel:</strong> <a href="/channel/${video.getChannelId}" target="_blank">${video.channelTitle}</a></p>
                        <p class="video-description"><strong>Description:</strong> ${video.description.slice(0, 150)} + "..."</p>
                        <p class="video-stats">Flesch-Kincaid Grade Level = ${video.fleschKincaidGradeLevel()},
                            Flesch Reading Ease Score = ${video.fleschReadingEaseScore}</p>
                        <p><strong>Tags:</strong>
                           <a href="/tags/${video.videoId}" target="_blank" class="tags-link">View Tags</a>
                        </p>
                        <a href="/wordStats/${video.query}" class="more-stats-link">More Word Stats</a>
                    </div>
                    <div class="video-thumbnail">
                        <img src="${video.thumbnailUrl}" alt="Thumbnail">
                    </div>
                `;

                li.innerHTML = videoInfo;

                ul.appendChild(li);
            });

            document.getElementById('results').appendChild(ul);
        }

        ws.onerror = function(error) {
            console.error("Connection Error: ", error);
        };

        ws.onclose = function(event) {
            console.log("Disconnected.");
        };
    });
</script>

</body>
</html>
